<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wiranata.impal_ab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisteroActivity" />
        <activity android:name=".EditakunActivity" />
        <activity android:name=".EditakunpActivity" />
        <activity android:name=".EditmenuActivity" />
        <activity android:name=".InputmenuActivity" />
        <activity android:name=".RegisterpActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".MaineActivity"
            android:label="@string/title_activity_maine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Belanja"
            android:label="Belanja"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".shopping"
            android:label="@string/title_activity_shopping"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>